<%= render partial: 'lessons/new_lesson_dialog', locals: { course: course } %>
<ul class='mdl-list'>  
  <li class="mdl-list__item">Lesson 1</li>
  <li class="mdl-list__item">Lesson 2</li>
  <li class="mdl-list__item">Lesson 3</li>
</ul>