<%= simple_form_for(@course) do |f| %>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="course[title]">
    <label class="mdl-textfield__label" for="sample1">Title...</label>
  </div>
  <%= f.input :description %>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="course[price]">
    <label class="mdl-textfield__label" for="sample2">Price...</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>
  <%= f.button :submit %>
<% end %>